BOT_TOKEN=8667805376:AAHsyv3LOOPP3os_0acHgukJDLrK4sVXZRw
OWNER_ID=8556819933
MONGO_URL=mongodb+srv://akashrajput010208:qy9qMomvLOpbegOP@cluster0.21upfwm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=I_RAMBHAKT_I
