BOT_TOKEN=8034685909:AAExq3XRmJE2VRD3312Wk44PbRg_RBkFe0U
OWNER_ID=7857346178
MONGO_URL=mongodb+srv://akashrajput010208:qy9qMomvLOpbegOP@cluster0.21upfwm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=I_RAMBHAKT_I
